<div class="container">
<div class="header">
<h1>Make a CD Collection!</h2>

  <h2>Enter an artist and album:</h2>
</div>

<div class="info_input">
<form action="/cd_info" method="post">

  <label for="artist1">Artist:</label>
  <input id="artist1" name="artist1" type="text">
<br>
<br>
  <label for="album1">Album:</label>
  <input id="album1" name="album1" type="text">
<br>
<button type="submit">GO</button>
</form>
</div>
<p>
  <% @cds.each() do |cd| %>
    <%= cd.artist() %>
  <% end %>
</p>

<form action="/search" method="post">
  <label for="search">Search a term</label>
  <input id="search" name="search" type="text">
  <button type="submit2">Search!</button>
</form>

<ul>
  <% @found_cds.each() do |cd| %>
    <li> <%= cd.artist() %> </li>
    <li> <%= cd.album() %> </li>
  <% end %>
</ul>
</div>
